*{
    margin: 0;
    padding: 0;
    
 }

 header{
    background-color: gray;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    padding: 20px 100px;
    

 }

 .logo{
    color: aliceblue;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }

 .navbar{
    width: 50%;
 }

 .navbar a{
    color: aliceblue;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    padding-left: 30px;
 }